<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <label>
        <input type="text" placeholder="Email" formControlName="email">
      </label>
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Password</label>
      <label>
        <input type="password" placeholder="Password" formControlName="password">
      </label>
      <div class="validation"></div>
    </div>

    <div class="card">
      <h2>Address</h2>

      <div class="form-control">
        <label>Country</label>

        <label>
          <select>
            <option value="ru">Russia</option>
            <option value="ua">Ukraine</option>
            <option value="by">Netherlands</option>
          </select>
        </label>
      </div>

      <div class="form-control">
        <label>
          <input type="text">
        </label>
      </div>

      <button class="btn" type="button">Choose city</button>
    </div>

    <div class="card">
      <h2>Your skills</h2>
      <button class="btn" type="button">Add skill</button>
      <div class="form-control">
        <label></label>
        <label>
          <input type="text">
        </label>
      </div>
    </div>

    <button class="btn" type="submit">Send</button>
  </form>
</div>
